<div id="randomizer" ng-app="randomizerApp">
    <div ng-controller="RandomizerController">
        <div class="row">
            <div class="columns medium-6 text-left">

            </div>
            <div class="columns medium-6 text-right">
                <div class="randomizer-button-group">
                    <a class="randomizer-button" ng-click="type = 'veg'" ng-class="{'selected': type == 'veg'}"><i class="fi-no-dogs"></i> Veg</a>
                    <a class="randomizer-button" ng-click="type = 'meat'" ng-class="{'selected': type == 'meat'}"><i class="fi-paw"></i> Meat</a>
                </div>
            </div>
        </div>
        <h1>The pizza script&trade;</h1>

        <div class="hide-for-medium">Skaffa större skärm plz</div>
        <div class="show-for-medium">
            <div class="slot-machine">
                <div class="slot-machine-top"><img src="{{root}}assets/img/jackpot.png" width="300"></div>
                <div class="slot-machine-body">
                    <div class="slot-machine-slots">
                        <div class="slot-machine-slot" ng-repeat="ingredient in ingredients">
                            <slot value="ingredient" trigger="rolling" stopped="stopped"></slot>
                        </div>
                    </div>
                    <img src="{{root}}assets/img/spak.png" width="40" class="spak" ng-click="roll()" ng-class="{'rotate-down': rolling}">
                </div>
            </div>

            <div ng-show="showResult" id="randomizer-results">
                <h2 ng-bind="name"></h2>
                <span class="randomizer-ingredient" ng-repeat="ing in ingredients" ng-bind="ing"></span>

                <h3>Förslag på beställning</h3>
                <h2 ng-bind="closest.name"></h2>

                <div ng-show="closest.added">
                    <strong>Plus</strong>
                    <ul>
                        <li ng-repeat="ing in closest.added">+ <span ng-bind="ing"></span></li>
                    </ul>
                </div>

                <div ng-show="closest.removed">
                    <strong>Minus</strong>
                    <ul>
                        <li ng-repeat="ing in closest.removed">- <span ng-bind="ing"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>