/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,900"); */

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

* {
  padding: 0px;
  margin: 0px;
}

/**
 COLOR SCHEME:
 MAIN COLOR: Light Blue: #44aedb	
 COLOR 1: Green: #44db71
 COLOR 2: Dark Blue: #5b44db

*/
